{# Base template - Ortak yapı #}
{% macro edit_button(editMode = 'inline') %}
    <button type="button"
            class="btn btn-link btn-sm p-0 ms-1 inline-edit-trigger"
            data-inline-edit-enable
            {% if editMode == 'popup' %}
                data-bs-toggle="popover"
                data-bs-trigger="manual"
                data-bs-placement="auto"
                data-bs-container="body"
                data-bs-html="true"
                data-bs-sanitize="false"
            {% endif %}
            title="Düzenlemek için tıklayın">
        <i class="ri-pencil-line"></i>
    </button>
{% endmacro %}

{% set editMode = config.editMode ?? 'inline' %}
{% set editableValue %}
    <span class="inline-edit-value" data-inline-edit-editable>
        {{ config.displayValue ?: '-' }}
    </span>
{% endset %}
<div class="inline-edit-field"
     data-inline-edit-manager="true"
     data-inline-edit-url="{{ config.url }}"
     data-inline-edit-field-path="{{ config.editFieldFormName }}"
     data-inline-edit-value="{% if config.selected_data is defined and config.selected_data is not empty %}{% if config.selected_data is iterable %}{{ config.selected_data|join(',') }}{% else %}{{ config.selected_data }}{% endif %}{% else %}{{ config.value is iterable ? config.value|join(',') : config.value }}{% endif %}"
     data-inline-edit-input-type="{{ config.type }}"
     data-inline-edit-html-type="{{ config.htmlType ?? config.type }}"
     data-inline-edit-mode="{{ editMode }}"
     {% if config.multiple is defined and config.multiple %}data-inline-edit-multiple="true"{% endif %}
        {% if config.placeholder is defined and config.placeholder %}data-inline-edit-placeholder="{{ config.placeholder }}"{% endif %}>


    <div class="inline-edit-read" data-inline-edit-read-mode>
        {{ editableValue }}
        {% if config.editable %}
            {{ _self.edit_button(editMode) }}
        {% endif %}
    </div>

    {# Template - tek kaynak #}
    <template data-inline-edit-content-template>
        {% block edit_content %}{% endblock %}
        <div class="invalid-feedback d-block mt-2" data-inline-edit-error></div>
    </template>

    {# Inline mod için edit mode container (popup modunda kullanılmayacak) #}
    {% if editMode != 'popup' %}
    <div class="inline-edit-edit d-none" data-inline-edit-edit-mode>
        {# Content buraya dinamik olarak eklenecek #}
    </div>
    {% endif %}

</div>

